$green :#0D7B58;

ul {
    list-style: none;
}

p {
    margin: 0;
}

.Home {
    display: flex;

    .navigation-bar {
        width: 18%;

        nav {
            background-color: $green;
            color: white;
            height: 100vh;
            font-size: 14pt;
            overflow: hidden;
            padding: 20px 10px;

            li {
                margin: 10px 0;
                cursor: pointer;
                user-select: none;
                transition-property: border, font-weight .5s ease-in-out;

                &.selected {
                    font-weight: bolder;
                    border-bottom: 1px solid white;
                }
            }
        }
    }

    .content {
        flex-grow: 7;
        flex-shrink: 0;

        header {
            height: 8vh;
            border-bottom: 1px solid $green;
        }

        main {
            background-color: hsl(0, 0%, 90%);
            height: 92vh;
            overflow: auto;
        }
    }

    .notification {
        position: absolute;
        bottom: 25px;
        right: 50px;
        width: fit-content;
        background-color: white;
        color: $green;
        padding: 10px 50px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 1px gray;

    }
}